@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Roboto&display=swap");

body {
  background-image: linear-gradient(to right, #2196f3, #52c6f7);
  /* background: #77d93b; */
}

.container {
  font-family: "Roboto", sans-serif;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 2px solid #0a0a0a;
  margin-bottom: 40px;
  font-size: 20px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Fuzzy Bubbles";
  font-weight: bold;
}

.starter-buttons {
  margin-top: 10px;
}

.timer {
  font-size: large;
}

.timer-paper {
  display: "flex";
  align-items: "center";
  text-align: "center";
  vertical-align: "middle";
}

.toggle-buttons {
  margin-top: "20px";
}

@font-face {
  font-family: digits;
  src: url(/src/fonts/digital-7.regular.ttf);
}

#count {
  font-family: digits;
  color: white;
}

/* Tasks */

.tasks-box {
  width: 600;
}

/* The Description.js component */

.method li {
  margin-bottom: 5px;
}

.method {
  margin-bottom: 40px;
}

html {
  scroll-behavior: smooth;
}

.paragraph {
  margin-top: 15px;
}

a {
  text-decoration: none !important;
  color: black;
}

.footer-note {
  font-size: 12px;
}

.tasksList {
  border-bottom: 1px solid #0a0a0a;
}

@media (max-width: 769px) {
  body {
    background: #2196f3;
  }
}
