@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-image: linear-gradient(to right, #09b88f, #af38eb);
}

.container {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 2px solid #0a0a0a;
  margin-bottom: 60px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.starter-buttons {
  margin-top: 10px;
}

.timer {
  font-size: large;
}

.timer-paper {
  display: "flex";
  align-items: "center";
  text-align: "center";
  vertical-align: "middle";
}

.toggle-buttons {
  margin-top: "20px";
}

@font-face {
  font-family: digits;
  src: url(/src/fonts/digital-7.regular.ttf);
}

#count {
  font-family: digits;
  color: white;
}
